<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | InovaDev</title>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
</head>
<body>
    <div class="container">
        <div class="container-left" style="background-image: url({% static '/img/tela.png' %})"></div>
        <div class="container-right">
            <div class="grid">
                <div class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="InovaDev logo">
                </div>
                <h1 style="margin: 20px 0 ">Cadastre-se gratuitamente</h1>
                <form method="POST" id="registrationForm">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-field">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="input-square">
                                {{ field }}
                            </div>
                            <div class="error-message" id="error-{{ field.name }}"> {{ field.errors }} </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn-login">Cadastrar-se</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/validation.js' %}"></script>
</body>
</html>
