{% extends "user/dashboardBase.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
        <div class="container mt-4">
            <h2>Atualizar Informações de Autenticação</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                        <div class="input-field">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="input-square">
                                {{ field }}
                            </div>
                            <div class="error-message" id="error-{{ field.name }}"> {{ field.errors }} </div>
                        </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    
