{% extends "user/dashboardBase.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 m-b-30">

            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                <div class="page-title mb-2 mb-sm-0">
                    <h1>Calendario</h1>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href=""><i class="ti ti-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                Calendario
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">
                                Calendario Completo</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <div class="card-heading">
                        <h4 class="card-title">Evento</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                       
                        <div style="margin:15px" class="mt-8">
                            <div class="event-calendar">
                                <div id="event-calendar"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}