<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>InovaDevConsultoria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
    <meta name="author" content="Potenza Global Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="{% static 'img/favicon.png'%}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/vendors.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>

    <div class="app">
        <div class="app-wrap">
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="{% static 'img/loader.svg' %} " alt="loader">
                    </div>
                </div>
            </div>

            <header class="app-header top-bar">
                <nav class="navbar navbar-expand-md">

                    <div class="navbar-header d-flex align-items-center">
                        <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
                        <a class="navbar-brand" href="{% url 'user:dashboard' %}">
                            <img src="{% static 'img/logo.png' %}" class="img-fluid logo-desktop" alt="logo" />
                            <img src="{% static 'img/logo-icon.png' %}" class="img-fluid logo-mobile" alt="logo" />
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti ti-align-left"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navigation d-flex">
                            <ul class="navbar-nav nav-left">
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link sidebar-toggle">
                                        <i class="ti ti-align-right"></i>
                                    </a>
                                </li>
                                <li class="nav-item"></li>
                                <a class="nav-link search" href="javascript:void(0)">
                                    <i class="ti ti-search"></i>
                                </a>
                                <div class="search-wrapper">
                                    <div class="close-btn">
                                        <i class="ti ti-close"></i>
                                    </div>
                                    <div class="search-content">
                                       
                                        <form method="GET" action="{% url 'user:mentorProfile' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <i class="ti ti-search magnifier"></i>
                                                <input type="search" class="form-control autocomplete"
                                                        placeholder="Pesquise aqui" id="send_Value" name="search_query"
                                                        autofocus="autofocus">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav nav-right ml-auto">                            
                                <li class="nav-item dropdown user-profile">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle " id="navbarDropdown4"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="notify-icon bg-img align-self-center">
                                            <div class="bg-type bg-type-sm">
                                                <i class="ti ti-user"></i>
                                            </div>  
                                        </div>
                                        <span class="bg-success bg-type-sm user-status"></span>
                                    </a>
                                    <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
                                        <div class="bg-gradient px-4 py-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="mr-1">
                                                    <h4 class="text-white mb-0">{{ user.nome }}</h4>
                                                    <small class="text-white">{{ user.gmail}}</small>
                                                </div>
                                                <a href="{% url 'user:logout' %}" class="text-white font-20 tooltip-wrapper"
                                                    data-toggle="tooltip" data-placement="top" title="Logout">
                                                <i class="zmdi zmdi-power"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="p-4">
                                            <a class="dropdown-item d-flex nav-link" href="{% url 'user:dashboardConta' %}">
                                                <i class="fa fa-user pr-2 text-success"></i> Perfil
                                            </a>
                                            <a class="dropdown-item d-flex nav-link" href="javascript:void(0)">
                                                <i class="fa fa-envelope pr-2 text-primary"></i> Caixa de Entrada
                                                <span class="badge badge-primary ml-auto">6</span>
                                            </a>
                                            <a class="dropdown-item d-flex nav-link" href="javascript:void(0)">
                                                <i class=" ti ti-settings pr-2 text-info"></i> Configurações
                                            </a>
                                            <a class="dropdown-item d-flex nav-link" href="javascript:void(0)">
                                                <i class="fa fa-compass pr-2 text-warning"></i> Precisa de Ajuda?</a>
                                            <div class="row mt-2">
                                                <div class="col">
                                                    <a class="bg-light p-3 text-center d-block" href="#">
                                                        <i class="fe fe-mail font-20 text-primary"></i>
                                                        <span class="d-block font-13 mt-2">Minhas Mensagens</span>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a class="bg-light p-3 text-center d-block" href="#">
                                                        <i class="fe fe-plus font-20 text-primary"></i>
                                                        <span class="d-block font-13 mt-2">Novo</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>

            </header>

            <div class="app-container">
                <aside class="app-navbar">
                    <div class="sidebar-nav scrollbar scroll_light">
                        <ul class="metismenu " id="sidebarNav">
                            <li class="active">
                                <a href="{% url 'user:dashboard' %}" aria-expanded="false">
                                    <i class="nav-icon ti ti-rocket"></i>
                                    <span class="nav-title">Dashboard</span>
                                </a>
                            </li>
                            <li><a href="{% url 'user:mentorProfile' %}" aria-expanded="false"><i   
                                        class="nav-icon ti ti-blackboard"></i><span
                                        class="nav-title">Mentorias</span></a> </li>
                                        <li class="nav-item">
                                            <a class="nav-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                                <i class="nav-icon ti ti-calendar"></i>
                                                <span class="nav-title">Chat</span>
                                            </a>
                                            <ul class="nav-submenu" aria-expanded="false">
                                                {% if user.typeUser == "Mentorado" %}
                                                    <li class="nav-subitem">
                                                        <a href="{% url 'communication:ListarMentores' %}" class="nav-link">Iniciar Chat</a>
                                                    </li>
                                                    <li class="nav-subitem">
                                                        <a href="{% url 'communication:viewsChats' %}" class="nav-link">Ver Chats</a>
                                                    </li>
                                                {% elif user.typeUser == "Mentor" %}
                                                    <li class="nav-subitem">
                                                        <a href="{% url 'communication:viewsChats' %}" class="nav-link">Ver Chats</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        
                      

                            <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i
                                        class="nav-icon ti ti-calendar"></i><span
                                        class="nav-title">Agendamento</span></a>
                                <ul aria-expanded="false">
                                    <li> <a href='{% url "user:agendamentoMensal" %}'>Mês</a> </li> 
                                    <li> <a href='{% url "user:agendamentoSemanal" %}'>Semanal</a> </li> 
                                </ul>


                            </li>

                            <li><a href="{% url 'user:dashboardConta' %}" aria-expanded="false"><i
                                        class="nav-icon ti ti-key"></i><span class="nav-title">Perfil</span></a> </li>
                            <li>

                            <li>

                            <li class="sidebar-banner p-4 bg-gradient text-center m-3 d-block rounded">
                                <h5 class="text-white mb-1">{{ user.typeUser }} </h5>
                                <p class="font-13 text-white line-20">InovaDev Consultoria</p>
                                <a class="btn btn-square btn-inverse-light btn-xs d-inline-block mt-2 mb-0" href="#">
                                </a>
                            </li>
                        </ul>
                    </div>

                </aside>

                <div class="app-main" id="main">
                    {% block content%}
                    {% endblock content%}
                    {% comment %} <footer class="footer">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-left">
                                <p>&copy; Copyright 2024. Todos os direitos reservados @luizsimi.</p>
                            </div>
                            <div class="col  col-sm-6 ml-sm-auto text-center text-sm-right">

                            </div>
                        </div>
                    </footer> {% endcomment %}
                </div>

            </div>

            <script src="{% static 'js/vendors.js'  %}"></script>
            <script src="{% static 'js/app.js'%}" data-most_searched_skills="{{ most_searched_skills }}"></script>         
        </div>
    </div>
</body>


</html>