{% extends "user/dashboardBase.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                <div class="page-title mb-2 mb-sm-0">
                    <h1>Mentor</h1>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'user:DashboardView' %}"><i class="ti ti-home"></i></a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">
                                Mentoria</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end page title -->
        </div>
    </div>
    <!-- end row -->

    <!-- start-mentores content-->
    <div class="row">
        {% if perfis %}
            {% for perfil in perfis %}
                {% if user.iduser != perfil.iduser %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-lg" style="border-radius: 15px;">
                            <img src="{% static 'img/user.png' %}" class="card-img-top" alt="Imagem do Perfil" 
                                 style="max-width: 150px; max-height: 150px; object-fit: cover; margin: 0 auto; margin-top: 10px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ perfil.nome }}</h5>
                                <p class="card-text">
                                    <strong>Experiência:</strong> {{ perfil.nivelExperiencia|default:"Não informado" }} <br>
                                    <strong>Área de Atuação:</strong> {{ perfil.areaAtuacao|default:"Não informado" }} <br>
                                    <strong>Status:</strong> {{ perfil.typeUser|default:"Não informado" }}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'user:profile' id=perfil.iduser %}" class="btn btn-outline-primary btn-sm">
                                        <i class="fa fa-user-circle"></i> Visualizar
                                    </a>
                                    {% if user.typeUser == 'Mentorado' %}
                                        <a href="{% url 'communication:iniciarChat' idMentor=perfil.iduser %}" class="btn btn-outline-secondary btn-sm">
                                            <i class="fa fa-envelope"></i> Mensagem
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p>Nenhum perfil encontrado.</p>
            </div>
        {% endif %}
    </div>
    <!-- end-mentores content -->
</div>
{% endblock content %}
