{% extends "user/dashboardBase.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                <div class="page-title mb-2 mb-sm-0">
                    <h1>Mentor</h1>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'user:dashboard' %}"><i class="ti ti-home"></i></a>
                            </li>

                            <li class="breadcrumb-item active text-primary" aria-current="page">
                                Mentoria</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end page title -->
        </div>
    </div>
    <!-- end row -->
    <!-- start-mentores contant-->
    <div class="row">
        <div class="col-12">
            <div class="card card-statistics clients-contant">
                <div class="card-header">
                    <div class="d-xxs-flex justify-content-between align-items-center">
                        <div class="card-heading">
                            <h4 class="card-title"></h4>
                        </div>

                    </div>
                </div>
                <div class="card-body py-0 table-responsive">
                    <table class="table clients-contant-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Experiencia</th>
                                <th scope="col">Área de Atuação</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ações</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% if perfis %}
                                {% for perfil in perfis %}
                                    {%if user.iduser != perfil.iduser%}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">

                                                    <p class="font-weight-bold">{{ perfil.nome}} </p>
                                                </div>
                                            </td>
                                            <td>{{ perfil.nivelExperiencia |default:"Não informado" }}</td>
                                            <td>{{ perfil.areaAtuacao | default:"Não informado"}}</td>
                                            <td>{{ perfil.typeUser | default:"Não informado"}}</td>

                                            <td role="cell">
                                                <div style="display: flex;">
                                                    <div class="mr-2">
                                                        <div class="dropdown">
                                                            <!-- data-toggle="dropdown" ativará o menu -->
                                                            <button type="button" class="btn btn-outline-primary btn-sm"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">...</button>
                                                            <div class="dropdown-menu">
                                                                <ul class="pl-2 pr-2 nav flex-column">
                                                                    <li class="nav-item">
                                                                        <a href="{% url 'user:profile' id=perfil.iduser %}"
                                                                            class="dropdown-item btn btn-outline-primary btn-sm">Visualizar
                                                                            Perfil</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a href="{% url 'communication:iniciarChat' idMentor=perfil.iduser %}"
                                                                            class="dropdown-item btn btn-outline-primary btn-sm">Iniciar
                                                                            Chat</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {%endif%}
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">Nenhum perfil encontrado.</td>
                            </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}