<!-- Portfólio -->
{% extends "user/dashboardBase.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row">
                        <!-- Left Profile Info Section -->
                        <div class="col-lg-4 col-xl-3">
                            <div class="profile-content-left pt-5 pb-3 px-3 px-xl-5">
                                <div class="profile-img text-center rounded-circle">
                                    <div class="pt-5">
                                        <div class="bg-img m-auto">
                                            <img src="{% static 'img/user.png' %}" class="img-fluid" alt="users-avatar">
                                        </div>
                                        <div class="profile pt-4">
                                            <h4 class="mb-1">{{ perfil.nome }} </h4>
                                            <p>{{ perfil.nivelExperiencia }} | {{ perfil.typeUser }} </p>
                                        </div>
                                    </div>
                                </div>

                                <hr class="w-100">
                                <div class="contact-info pt-4">
                                    <h5 class="text-dark mb-1">Informações de Contato</h5>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Email</p>
                                    <p>{{ perfil.gmail |default:"Não informado" }}</p>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Telefone</p>
                                    <p>{{ perfil.telefone|default:"Não informado" }}</p>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Área de Atuação</p>
                                    <p>{{ perfil.areaAtuacao|default:"Não informada" }}</p>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Facebook</p>
                                    <a href="{{ redesSociais.facebook | default:'#' }}" target="_blank">{{ redesSociais.facebook | default:"Não informada" }}</a>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Github</p>
                                    <a href="{{ redesSociais.github | default:'#' }}" target="_blank">{{ redesSociais.github | default:"Não informada" }}</a>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Instagram</p>
                                    <a href="{{ redesSociais.instagram | default:'#' }}" target="_blank">{{ redesSociais.instagram | default:"Não informada" }}</a>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">LinkedIn</p>
                                    <a href="{{ redesSociais.linkedIn | default:'#' }}" target="_blank">{{ redesSociais.linkedIn | default:"Não informada" }}</a>

                                </div>
                            </div>
                        </div>
                        <!-- Right Profile Info Section -->
                        <div class="col-lg-8 col-xl-9">
                            <div class="profile-content-right py-5">
                                <ul class="nav nav-tabs px-3 px-xl-5 nav-style-border" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#profile"
                                            role="tab">Perfil</a>
                                    </li>
                                   
                                    {% if perfil.typeUser != 'Mentorado'  %}
                                        <li class="nav-item">
                                            <a href="{% url 'communication:iniciarChat' idMentor=perfil.iduser %}" class="nav-link">Iniciar Chat</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#agendar-mentoria" role="tab">Agendar Mentoria</a>
                                        </li>
                                    {% endif %}
                                    
                                </ul>
                                <div class="tab-content px-3 px-xl-5">
                                    <!-- Profile Tab -->
                                    <div class="tab-pane fade show active" id="profile" role="tabpanel">
                                        <div class="mt-5">
                                            <h5 class="text-dark mb-4">Sobre</h5>
                                            <p>{{ perfil.sobre |default:"Nenhuma experiência cadastrada." }}</p>
                                        </div>
                                        <div class="mt-5">
                                            <h5 class="text-dark mb-4">Habilidades</h5>
                                            <p>
                                                {%if habilidades %}
                                                    {%for habilidade in habilidades%}
                                                        {{ habilidade }} |
                                                    {%endfor%}
                                                {% else %}
                                                    Nenhuma habilidade cadastrada.
                                                {%endif%}
                                                
                                            </p>
                                        </div>
                                        
                                        {% if perfil.typeUser != 'Mentorado' %}
                                            <div class="mt-5">
                                                <h5 class="text-dark mb-4">Dias Disponíveis</h5>
                                                <p>
                                                    {% if diasAtendimento %}
                                                        {% for dia in diasAtendimento %}
                                                            {{ dia }} |
                                                        {%endfor%}
                                                    {% else %}
                                                        Nenhum dia cadastrado.
                                                    {%endif%}
                                                </p>
                                            </div>

                                            <div class="mt-5">
                                                <h5 class="text-dark mb-4">Horários</h5>
                                                <p>
                                                    Inicial - {{ horarios.horarioInicial }} </br>
                                                    Final - {{ horarios.horarioFinal }}
                                                </p>
                                            </div>
                                        {% endif %}
                                        <br/>
                                        <br/>
                                        <br/>

                                        {% if perfil.typeUser != 'Mentorado'  %}
                                            <div class="col-xl-9">
                                                <div class="event-calendar">
                                                    <div id="event-calendar"></div>
                                                </div>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}